﻿@using FoodMartMongo.Dtos.CategoryDtos
@model List<ResultCategoryDto>

<section class="py-5 overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header d-flex flex-wrap justify-content-between mb-5">
                    <h2 class="section-title">Kategoriler</h2>

                    <div class="d-flex align-items-center">
                        <a href="#" class="btn-link text-decoration-none">Tüm Kategoriler →</a>
                        <div class="swiper-buttons">
                            <button class="swiper-prev category-carousel-prev btn btn-yellow">❮</button>
                            <button class="swiper-next category-carousel-next btn btn-yellow">❯</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="category-carousel swiper">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model)
                        {
                            <a href="index.html" class="nav-link category-item swiper-slide">
                                <img src="@item.IconUrl" alt="Category Thumbnail" style="width: 40px; height: 40px;">
                                <h3 class="category-title">@item.CategoryName</h3>
                            </a>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>