@model FoodMartMongo.Dtos.ProductDtos.GetProductByIdDto

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Ürün Güncelleme Sayfası</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" asp-for="ProductId" />
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Ürün Adı</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="Name" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Ürün Fiyatı</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="Price" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Ürün Görseli</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="ImageUrl" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Ürün Stok Sayısı</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="StockCount" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Ürün Kategori</label>
                            <div class="col-sm-10">
                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.v">
                                    <option value="">-- Kategori Seçin --</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-sm-10">
                                <button class="btn btn-primary">Ürünü Güncelle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Basic with Icons -->
    </div>
</div>