﻿@using FoodMartMongo.Dtos.PeopleViewingDtos
@model List<ResultPeopleViewingDto>

<section class="py-5">
    <div class="container-fluid">
        <h2 class="my-5">Bunlar da İlginizi Çekebilir</h2>
        @foreach(var item in Model)
        {
            <a href="#" class="btn btn-warning me-2 mb-2">@item.Title</a>
        }
        
    </div>
</section>